html {
  scroll-behavior: smooth;
}

.box {
  height: 100%;
}

#outgoingLinks {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 15px;
}
#outgoingLinks a {
  display: block;
  font-size: 30px;
}
#outgoingLinks #divider {
  height: 100px;
}
@media screen and (max-width: 1023px) {
  #outgoingLinks {
    position: initial;
    margin-bottom: -15px;
  }
  #outgoingLinks a {
    display: initial;
    padding: 0px 5px;
    font-size: 30px;
  }
  #outgoingLinks #divider {
    height: 0px;
  }
}

footer div {
  background-color: transparent;
  text-align: center;
  padding: 30px 0px;
}
